<!DOCTYPE html>
<html>

<h1>Welcome to Event-Horizon!</h1>
<h2>Your handy event indexer</h2>
<body>


  <h1>Login</h1>
     <%= form_tag '/login' do %>
     <%= label_tag :username%>
     <%= text_field_tag :username %> <br>
     <br>
     <%= label_tag :password%>
     <%= password_field_tag :password%> <br>
     <br>
     <%= submit_tag "Login"%>
  <%end%>
  <br>
  <%= link_to('Log in with GITHUB!', '/auth/github') %>
  

<p>New user? <%= link_to "Sign up now!", signup_path %></p>

    
      <% if logged_in? %>
        <h1>You are Logged In, <%= current_user.username %></h1>
      <%end%>
  </body>
  </html>