<!DOCTYPE html>
<html>

<body>
<h1 id="app">Welcome to Event-Horizon!</h1>

  <div class="login-box">
    <div class="user-box">
      <%= form_tag '/login' do %>
      <%= label_tag :username%><br><br>
      <%= text_field_tag :username %>
    </div>
    <br>
    <div class="user-box">
      <%= label_tag :password%><br><br>
      <%= password_field_tag :password%>
    </div>
    <a href="#">
      <%= submit_tag "Login", {:class => "button"}%>
      <%end%>
    </a>
  <br>
  <br>
  <%= link_to('Log in with GITHUB!', '/auth/github') %>
  
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
    
  </body>
</html>

