<!DOCTYPE html>
<html>
<header>
</header>
<body id="login-background">
  <%= render partial: "users/form", locals: {user: @user} %>

  <h1 class="title"> <span class="neon">Event</span><span class="flux">Horizon</span></h1>
    <div class="login-box">
        <%= form_tag '/login' do %>
        <h2><%= label_tag :username %></h2>
        <%= text_field_tag :username %><br><br>
        <h2><%= label_tag :password %></h2>
        <%= password_field_tag :password%><br>
        <%= submit_tag "Login", {:class => "button"} %>
        <%end%>
        <br>
        <br>
        <a><%= link_to('Log in with GITHUB!', '/auth/github') %></a>
        <hr>
        <a><%= link_to('New? Sign Up Here!', '/users/new') %></a>
    </div>
</body>
</html>