<h1 id="title">Edit Artist:</h1>
<h1 id="title"><%= @artist.name %></h1>
<hr>
<div class="box">
  <br>
  <br>
  <div>
    <%= form_for(@artist) do |f| %>
    <h4><%= f.label "Name" %></h4>
    <%= f.text_field :name %> 
    <h4><%= f.label "Genre" %></h4>
    <%= f.text_field :genre %>
    <h4><%= f.label "Times Seen" %></h4>
    <%= f.select :times_seen, (1..99) %>
    <h4><%= f.label "Met?" %></h4>
    <%= f.check_box :met %>
  </div>
<hr>
  <div>
    <h3><%= f.label "Create a New Venue:" %></h3>
    <h4><%= f.label "Venue Name:" %></h4>
    <input type="text" id="name" name="venue[name]" />
    <h4><%= f.label "Locale:" %></h4>
    <input type="text" id="locale" name="venue[locale]" />
    <input type="hidden" id="layout" name="venue[layout]" value='0' />
    <input type="hidden" id="sound" name="venue[sound]" value='0' />
    <input type="hidden" id="comfort" name="venue[comfort]" value='0' />
    <input type="hidden" id="prices" name="venue[prices]" value='0' />
  </div>
</div>

<div class="box">
  <h3>Venue attended:</h3>
    <div>
        <%= f.collection_check_boxes(:venue_ids, @user.venues.all, :id, :name) do |v| %>
          <p><%= v.check_box + v.text %></p>
        <% end %>
        <%= f.fields_for :venues, @artist.venues.build do |venue_fields| %>
        <% end %>
    </div>
</div>

<div class="button-at-top">
    <%= f.submit :class => "button" %>
    <% end %>
</div>
  
