<h1>Edit Artist:</h1>

<br />

<%= form_for(@artist) do |f| %>
  <%= f.label "Name" %> <br />
  <%= f.text_field :name %> <br />
  <%= f.label "Genre" %> <br />
  <%= f.text_field :genre %> <br />
  <%= f.label "Times Seen" %> <br />
  <%= f.select :times_seen, (1..99) %> <br>

  <br>
  <h3>Venue attended:</h3>
  <div class="row">
    <%= f.collection_check_boxes :venue_ids, @user.venues.all, :id, :name %>
    <%= f.fields_for :venues, @artist.venues.build do |venue_fields| %> <br>
  </div>
    <%= venue_fields.text_field :name %> <br>
    <% end %>
  <br>
    <%= f.submit %>
    <% end %>
  
