<h1>Edit Artist:</h1>

<br />

<%= form_for(@artist) do |f| %>
  <%= f.label "Name" %> <br />
  <%= f.text_field :name %> <br />
  <%= f.label "Genre" %> <br />
  <%= f.text_field :genre %> <br />
  <%= f.label "Times Seen" %> <br />
  <%= f.text_field :times_seen %> <br />

  <br>
  <h3>Venue attended:</h3>
  <%= f.label "Venue:" %>
  <%= f.collection_check_boxes :venue_ids, Venue.all, :id, :name %> <br>
  <%= f.fields_for :venues, @artist.venues.build do |venue_fields| %> <br>
    <%= venue_fields.text_field :name %>
  <% end %>
  <br>
  <%= f.submit %>
<% end %>



      <% if logged_in? %>
        <h1>You are Logged In, <%= current_user.username %></h1>
      <%end%>