<h1>Edit Artist:</h1>
<h1><%= @artist.name %></h1>
<br />

<%= form_for(@artist) do |f| %>
  <%= f.label "Name" %> <br />
  <%= f.text_field :name %> <br />
  <%= f.label "Genre" %> <br />
  <%= f.text_field :genre %> <br />
  <%= f.label "Times Seen" %> <br />
  <%= f.select :times_seen, (1..99) %> <br>
  <%= f.label "Met?" %> <br>
  <%= f.check_box :met %> <br>

  <br>
  <h3>Venue attended:</h3>
  <div class="row">
    <%= f.collection_check_boxes :venue_ids, @user.venues.all, :id, :name %>
    <%= f.fields_for :venues, @artist.venues.build do |venue_fields| %> <br>

    <% end %>
  </div>
  <p>
    <strong><%= f.label "Create a New Venue:" %> <br></strong>
    <br>
    <%= f.label "Venue Name:" %> <br>
    <input type="text" id="name" name="venue[name]" /> <br>
    <%= f.label "Locale:" %> <br>
    <input type="text" id="locale" name="venue[locale]" /> <br>
  
  </p>
  <br>
    <%= f.submit %>
    <% end %>
  
