<div id=login>
<h1>New Artist:</h1>

<br>

<%= form_for(@artist) do |f| %>
  <%= f.label "Name" %> <br>
  <%= f.text_field :name %> <br>
  <%= f.label "Genre" %> <br>
  <%= f.text_field :genre %> <br>
  <%= f.label "Times Seen" %> <br>
  <%= f.select :times_seen, (1..99) %> <br>
  <%= f.label "Met?" %> <br>
  <%= f.check_box :met %> <br>
  <br>
</div>
  <h2><%= f.label "Venue Attended?" %></h2>
  
  <% @user.venues.all.sort_by(&:name).each do |v| %>
    
      <label for="venue_id_<%= v.id %>"><%= v.name %></label>
      <input type="checkbox" name="artist[venue_ids][]" value="<%= v.id %>">
    
  <% end %>

  <p>
    <strong><%= f.label "Create a New Venue:" %> <br></strong>
    <br>
    <%= f.label "Venue Name:" %> <br>
    <input type="text" id="name" name="venue[name]" /> <br>
    <%= f.label "Locale:" %> <br>
    <input type="text" id="locale" name="venue[locale]" /> <br>
    
  
  </p>
  <%= f.submit %>
<% end %> 

