<h1>New Artist:</h1>

<br />

<%= form_for(@artist) do |f| %>
  <%= f.label "Name" %> <br />
  <%= f.text_field :name %> <br />
  <%= f.label "Genre" %> <br />
  <%= f.text_field :genre %> <br />
  <%= f.label "Times Seen" %> <br />
  <%= f.text_field :times_seen %> <br />
  <%= f.label "Met?" %> <br />
  <%= f.check_box :met %> <br />
  <br>
  <%= f.label "Venue Attended?" %> <br>
  <%= f.collection_check_boxes :venue_ids, Venue.all, :id, :name %>

  <br>
  <%= f.submit %>
<% end %> 

