<p id="notice"><%= notice %></p>

<br>
<hr>
<h1 id="title"><%= @artist.name %></h1>
<div class="box">
  <a><%= link_to "Edit", edit_artist_path(@artist) %></a> |
  <a><%= link_to "Delete", artist_destroy_path(id: @artist.id) %></a>
  <h2>Genre:</h2>
  <h3><%= @artist.genre %>
  <h2>Times Seen:</h2>
  <h3><%= @artist.times_seen %>
  <h2>Met?</h2>
  <h3><%= @artist.met %></h3><br>
</div>

<div class="box">
<h3 id="app">Venues For This Artist:</h3>
    <ol id=subjects>
      <% @artist.venues.each do |venue| %>
      <li><%= link_to venue.name, user_venue_path(@user, venue) %></li>
       
      <% end %>
    </ol>   
</div>