<p id="notice"><%= notice %></p>
<h1 id="title"><%= @artist.name %></h1>

<h2>Genre:</h2>
<h3 id="show"><%= @artist.genre %>
<h2>Times Seen:</h2>
<h3 id="show"><%= @artist.times_seen %>
<h2>Met?</h2>
<h3 id="show"><%= @artist.met %></h3>
<br>
<br>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to "Delete", artist_destroy_path(id: @artist.id) %> |
<%= link_to 'Home', user_path(@user) %>

<h1 id="title">Venues You've Seen This Artist At:</h1>
    <ul id=subjects>
      <% @artist.venues.each do |venue| %>
        <%= link_to venue.name, user_venue_path(@user, venue) %><br>
       
      <% end %>
    </ul>   
