<p id="notice"><%= notice %></p>
<h1><%= @artist.name %></h1>

<h2>Genre:</h2>
<%= @artist.genre %>
<h2>Times Seen:</h2>
<%= @artist.times_seen %>
<h2>Met?</h2>
<%= @artist.met %>
<br>
<br>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to "Delete", artist_destroy_path(id: @artist.id) %> |
<%= link_to 'Back', user_path(@user) %>

<h2>Venues You've Seen This Artist At:</h2>
    <ul>
      <% @artist.venues.each do |venue| %>
        <li><%= link_to venue.name, user_venue_path(@user, venue) %></li>
        <td><%= link_to 'Destroy', @venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </ul>   
