<!DOCTYPE html>

<html>
  <%= render partial: "users/form", locals: {user: @user} %>

  <div class="login-box">
    <h2>Join Event-Horizon!</h2>
    <%= form_for(@user) do |f| %>
    <div class="user-box">
      <%= f.label :username%><br><br>
      <%= f.text_field :username%><br>
    </div>
    <div class="user-box">
      <%= f.label :password%><br><br>
      <%= f.password_field :password%><br>
    </div>
      <br>
      <%= f.submit "Sign Up", {:class => "button"} %>
    <% end %>
  </div>
</html>