<!DOCTYPE html>
<html>

  <body>
    <h3 id="app">Welcome, <%= @user.username.upcase%></h3>
    <div>
      <%= button_to "Logout", {:controller => 'sessions', :action => 'destroy'}, {:class => "button"} %>
    </div>
    <br>
    <hr>
    <span><%= button_to "Add An Upcoming Event", {:controller => 'events', :action => 'new'}, {:class => "button"} %></span>
  
    <span><%= button_to "Show Upcoming Events", {:controller => 'events', :action => 'index'}, {:class => "button"} %></span>

    <div>
      <div class="box">       
    
        <%= button_to "Artists You've Met", artist_action_path(@user), method: :get, :class => "button" %>
   
        <h2>Saved Artists:</h2> 
        <p> Artist Count: <%= @user.artists.count %></p>

        <%= button_to "Add Artist", {:controller => 'artists', :action => 'new'}, {:class => "button"} %>
        <ol>
          <% @user.artists.order_artists.each do |artist| %>
            <li><%= link_to artist.name, user_artist_path(@user, artist) %></li><br>

          <% end %>
        </ol>     
    </div>

    <div class="box">     

        <%= button_to "Top Rated Venues", venue_action_path(@user), method: :get, :class => "button" %>
    
        <h2>Saved Venues:</h2>
        <p> Venue Count: <%= @user.venues.count %></p>

        <%= button_to "Add Venue", {:controller => 'venues', :action => 'new'}, {:class => "button"} %>
        <ol>
          <% @user.venues.order_venues.each do |venue| %>
            <li><%= link_to venue.name, user_venue_path(@user, venue) %></li><br>

          <% end %>
        </ol>    
    </div>
  </body>
</html>



