<!DOCTYPE html>
<html>
  <body>
    
      <h1>Welcome, <%= @user.username.upcase%>! </h1>
   
    <h2><%= @user.username.upcase %>'s saved Artists:</h2>
       <%= button_to "Add Artist", :controller => 'artists', :action => 'new' %>
    <ul>
       <% @user.artists.each do |artist| %>
        <li><%= link_to artist.name, user_artist_path(@user, artist) %></li>

      <% end %>
    </ul>        
   

  
    <h2><%= @user.username.upcase %>'s saved Venues:</h2>
     <%= button_to "Add Venue", :controller => 'venues', :action => 'new' %>
    <ul>
      <% @user.venues.each do |venue| %>
        <li><%= link_to venue.name, user_venue_path(@user, venue) %></li>

      <% end %>
    </ul>       
  

  <%= button_to "Logout", :controller => 'sessions', :action => 'destroy' %>


      <% if logged_in? %>
        <h1>You are Logged In, <%= current_user.username %></h1>
      <%end%>
  </body>
</html>



