<html>
  <body>
    <h1 id="title">Created Events</h1>
      <%= button_to 'Home', user_path(@user), {:class => "button"} %><br>
      <div id="login">
         <ul>
           <% @event.each.index_by do |e| %> 
            <h2><strong><%="Event:"%></strong></h2>
            <li><%= link_to e.name, user_event_path(@user, e) %></li><br>
            <li><strong><%="Date:"%></strong><br>
            <%= e.date.strftime('%a, %d %b %Y') %></li><br>
            <li><strong><%="Location:"%></strong><br>
            <%= e.city %></li><br>
            <li><strong><%="Artist:"%></strong><br>
            <%= e.artist %></li><br>
            <li><strong><%="Venue:"%></strong><br>
            <%= e.venue %></li><br>
            <li><strong><%="Comments:"%></strong>
            <%= e.comments.count %></li><br>
            <%= time_ago_in_words(e.created_at) %> ago <br>
            __________________________
            <% end %>
         </ul>
      </div>
  </body>
</html>
