<html>
  <body>
    <h1 id="app">Created Events</h1>
      <%= button_to 'Home', user_path(@user), {:class => "button"} %><br>
      
           <% @event.each.index_by do |e| %>
           <div class="box"> 
            <h2><strong><%="Event:"%></strong></h2>
            <%= link_to e.name, user_event_path(@user, e) %><br>
            <strong><%="Date:"%></strong><br>
            <%= e.date.strftime('%a, %d %b %Y') %><br>
            <strong><%="Location:"%></strong><br>
            <%= e.city %><br>
            <strong><%="Artist:"%></strong><br>
            <%= e.artist %><br>
            <strong><%="Venue:"%></strong><br>
            <%= e.venue %><br>
            <strong><%="Comments:"%></strong>
            <%= e.comments.count %><br>
            <%= time_ago_in_words(e.created_at) %> ago
            </div>
            <% end %>
         </ul>
      
  </body>
</html>
