<html>
  <body>
    <h1 id="title">Created Events By Users</h1>
    <hr>
      <% @event.each.index_by do |e| %>
        <div class="box"> 
          <%= link_to e.name, user_event_path(@user, e) %><br>
          <h4><%="Date:"%></h4>
          <p><%= e.date.strftime('%a, %d %b %Y') %></p>
          <h4><%="Location:"%></h4>
          <p><%= e.city %></p>
          <h4><%="Artist:"%></h4>
          <p><%= e.artist %></p>
          <h4><%="Venue:"%></h4>
          <p><%= e.venue %></p>
          <h4><%="Comments:"%></h4>
          <p><%= e.comments.count %></p>
          created <%= time_ago_in_words(e.created_at) %> ago
          </div>
      <% end %>  
  </body>
</html>
