<html>
<br>
<br>
<%= link_to 'Home', user_path(@user), {:class => "button"} %><br><br>
<hr>
  <div class="box">
    <h1><%= @event.name %></h1>
    <h2><strong><%="Date:"%></strong></h2>
    <h3><%= @event.date.strftime('%a, %d %b %Y') %></h3>
    <h2><strong><%="City:"%></strong></h2>
    <h3><%= @event.city %></h3>
    <h2><strong><%="Artist:"%></strong></h2>
    <h3><%= @event.artist %></h3>
    <h2><strong><%="Venue:"%></strong></h2>
    <h3><%= @event.venue %></h3>
  </div>
  <div class="box">
  <h1>Comments:</h1>
    <ul>
      <% @event.comments.each do |comment| %>
        <h3><strong><%= comment.user.username %>:</strong> <%= comment.content %><br>
        <em><%= time_ago_in_words(comment.created_at) %> ago </em></h3>
      <% end %>
    </ul>
  </div>

<div class="box">
  <h1>Create A New Comment:</h1>
  <%= form_for @event.comments.build do |f|%>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :user_id %>
    <%= f.text_area :content %>
  <br>

  <%= f.submit %>
  <% end %>
</div>
</html>