<h1>Edit Venue:</h1>
<h1><%= @venue.name %></h1>
<br />

<%= form_for(@venue) do |f| %>
  <%= f.label "Name:" %> <br>
  <%= f.text_field :name %> <br>
  <%= f.label "Locale:" %> <br>
  <%= f.text_field :locale %> <br>
  <%= f.label "Venue Type:" %> <br>
  <%= f.select :venue_type, [ nil, 'Bar', 'Small', 'Medium', 'Large', 'Arena', 'Festival', 'Amphitheater', 'Pavillion', 'Outdoor', 'Theatre']%><br>
  <%= f.label "Layout" %> <br>
  <%= f.select :layout, [ nil, '1', '2', '3', '4', '5']%><br>
  <%= f.label "Sound" %> <br>
  <%= f.select :sound, [ nil, '1', '2', '3', '4', '5']%><br>
  <%= f.label "Comfort" %> <br>
  <%= f.select :comfort, [ nil, '1', '2', '3', '4', '5']%><br>
  <%= f.label "Prices" %> <br>
  <%= f.select :prices, [ nil, '1', '2', '3', '4', '5']%><br>
  <%= f.label "Venue Comments" %> <br>
  <%= f.text_area :content %><br>

  <br>
  <h3>Performance by:</h3>
  
  <%= f.collection_check_boxes :artist_ids, @user.artists.all, :id, :name %> <br>
  <br>
  <%= f.fields_for :artists, @venue.artists.build do |artist_fields| %> <br>
    <%= artist_fields.text_field :name %><br>
  <% end %>
  <br>


  <%= f.submit %>
<% end %>

