<h1>New Venue</h1>

<br />

<%= form_for(@venue) do |f| %>
  <%= f.label "Name" %> <br>
  <%= f.text_field :name %> <br>
  <%= f.label "Locale" %> <br>
  <%= f.text_field :locale %> <br>
  <%= f.label "Venue Type" %> <br>
  <%= f.select :venue_type, [ nil, 'Bar', 'Small', 'Medium', 'Large', 'Arena', 'Festival', 'Amphitheater', 'Pavillion', 'Outdoor', 'Theatre']%><br>
  <%= f.label "Layout" %> <br>
  <%= f.select :layout, [ nil, '1', '2', '3', '4', '5']%><br>
  <%= f.label "Sound" %> <br>
  <%= f.select :sound, [ nil, '1', '2', '3', '4', '5']%><br>
  <%= f.label "Comfort" %> <br>
  <%= f.select :comfort, [ nil, '1', '2', '3', '4', '5']%><br>
  <%= f.label "Prices" %> <br>
  <%= f.select :prices, [ nil, '1', '2', '3', '4', '5']%><br>
  <%= f.label "Venue Comments" %> <br>
  <%= f.text_area :content %><br>

  <br>

  <h2><%= f.label "Artist?" %></h2>
  <% @user.artists.all.each do |a| %>
    
      <label for="artist_id_<%= a.id %>"><%= a.name %></label>
      <input type="checkbox" name="venue[artist_ids][]" value="<%= a.id %>">
    
  <% end %>

  <p>
  <%= f.label "Create a New Artist" %> <br>
  <%= f.label "Name" %> <br>
  <input type="text" id="name" name="artist[name]" /> <br>
  <%= f.label "Genre" %> <br>
  <input type="text" id="genre" name="artist[genre]" /> <br>
  </p>
  <%= f.submit %>
<% end %> 