<div class="box">
<br>
<br>
<br>
  <%= render partial: "users/form", locals: {user: @venue} %>
  <%= form_for(@venue) do |f| %>
    <span>
      <h4><%= f.label "Name" %></h4>
      <%= f.text_field :name %>
      <h4><%= f.label "Locale" %></h4>
      <%= f.text_field :locale %>
      <h4><%= f.label "Venue Type" %></h4>
      <%= f.select :venue_type, [ nil, 'Bar', 'Small', 'Medium', 'Large', 'Arena', 'Festival', 'Amphitheater', 'Pavillion', 'Outdoor', 'Theatre']%>
    </span>
    <span>
      <h4><%= f.label "Layout" %></h4>
      <%= f.select :layout, [ 0, '1', '2', '3', '4', '5']%>
      <h4><%= f.label "Sound" %></h4>
      <%= f.select :sound, [ 0, '1', '2', '3', '4', '5']%>
    </span>
    <span>
      <h4><%= f.label "Comfort" %></h4>
      <%= f.select :comfort, [ 0, '1', '2', '3', '4', '5']%>
      <h4><%= f.label "Prices" %></h4>
      <%= f.select :prices, [ 0, '1', '2', '3', '4', '5']%>
    </span>
    <span>
      <h4><%= f.label "Venue Comments" %></h4>
      <%= f.text_area :content %>
    </span>
</div>

<div class="box">
  <h3><%= f.label "Attach a New Artist" %></h3>
  <h4><%= f.label "Name" %></h4>
  <input type="text" id="name" name="artist[name]" />
  <h4><%= f.label "Genre" %></h4>
  <input type="text" id="genre" name="artist[genre]" />
  <h4><%= f.label "Times Seen" %> <br>
  <input type="text" id="times_seen" name="artist[times_seen]" />
  <h4><%= f.label "Met?" %></h4>
  <input type="checkbox" id="met" name="artist[met]" />
</div>

<div class="box">
  <h3><%= f.label "Attach Existing Artist" %></h3>
  <% @user.artists.all.order_artists.each do |a| %>
      <p><label for="artist_id_<%= a.id %>"><%= a.name %></label>
      <input type="checkbox" name="venue[artist_ids][]" value="<%= a.id %>"></p>
  <% end %>
</div>

<div class="button-at-top">
  <%= f.submit :class => "button" %>
<% end %> 
</div>