<!DOCTYPE html>
<html>
  <body>
    <h1>Top Rated Venues</h1>
       
       <h3>Layout:</h3>
       <% @venue_rating.each do |venue| %>
        <li><%= link_to venue.name, user_venue_path(@user, venue) %> <%=venue.layout%> </li>

      <% end %>
      <br>
       <h3>Sound:</h3>
       <% @venue_rating.each do |venue| %>
        <li><%= link_to venue.name, user_venue_path(@user, venue) %> <%=venue.layout%> </li>

      <% end %>
      <br>
        <h3>Comfort:</h3>
       <% @venue_rating.each do |venue| %>
        <li><%= link_to venue.name, user_venue_path(@user, venue) %> <%=venue.layout%> </li>

      <% end %>
      <br>
        <h3>Prices:</h3>
       <% @venue_rating.each do |venue| %>
        <li><%= link_to venue.name, user_venue_path(@user, venue) %> <%=venue.layout%> </li>

      <% end %>
      <br>

      <%= button_to "Home", user_path(@user) %>
  </body>
</html>