<p id="notice"><%= notice %></p>
<h1><%= @venue.name %></h1>

<h2>Locale:</h2>
<%= @venue.locale %>
<h2>Venue Type:</h2>
<%= @venue.venue_type %>
<h2>Venue Comments:</h2>
<p><%= @venue.content %></p>
<br>
<br>
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to "Delete", venue_destroy_path(id: @venue.id) %> |
<%= link_to 'Back', user_path(@user) %>

<h2>Artists You've Seen At This Venue:</h2>
    <ul>
      <% @venue.artists.each do |artist| %>
        <li><%= link_to artist.name, user_artist_path(@user, artist) %></li>
        
      <% end %>
    </ul>   