<!DOCTYPE html>
<html>
    <head>
        <title>Event-Horizon</title>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <% if logged_in? %>
                <h1 class="title">
                    <span class="neon"><a><%= link_to "Event", user_path(@user) %></a></span>
                    <span class="flux"><a><%= link_to "Horizon", user_path(@user) %></a></span>
                </h1>
            <% else %>
                <span></span>
            <%end%>   
        </div>
        <%= yield %>
    
    </body>
</html>

